table {
    width: 100%;
}

td {
    margin: 0, 1px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.mat-row:nth-child(odd) {
    background-color: #eee;
}

.searchFilter {
    margin-left: 20px;
}
  